<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="TestSuite/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	verbose="true">

	<testsuites>
		<testsuite name="CodingStandard">
			<directory suffix="UnitTest.php">CodingStandard/Tests</directory>
		</testsuite>
	</testsuites>

	<!--<logging>
		<log type="coverage-html" target="build/coverage" title="BankAccount"
			 charset="UTF-8" yui="true" highlight="true"
			 lowUpperBound="35" highLowerBound="70"/>
	</logging>-->

	<filter>
		<whitelist>
			<directory>CodingStandard/Sniffs</directory>
		</whitelist>
	</filter>
</phpunit>
