name: CI

on:
  push:
  pull_request:

defaults:
  run:
    shell: bash

jobs:

  tests:
    name: Tests (PHP ${{ matrix.php }}, PHP_CodeSniffer ${{ matrix.phpcs_version }})
    runs-on: Ubuntu-20.04

    strategy:
      matrix:
        php: [ '5.4', '5.5', '5.6', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0', '8.1']
        phpcs_version: ['^3.3']
        include:
          - php: 5.4
            phpcs_version: ^3.3@dev
          - php: 7.2
            phpcs_version: ^3.3@dev
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: "xdebug"
          php-version: "${{ matrix.php }}"
          tools: composer

      - name: Install dependencies
        run: |
          composer require squizlabs/php_codesniffer:${{ matrix.phpcs_version }} --dev --no-update
          composer update --prefer-dist --no-interaction

      - name: Run tests
        run: |
          vendor/bin/phpunit -v --coverage-clover=coverage.clover

      - name: Upload Coverage to CodeCov
        uses: codecov/codecov-action@v2

      - name: Upload Coverage to Scrutinizer CI (PHP < 8.0)
        if: "${{ matrix.php < '8.0' }}"
        run: |
          wget https://scrutinizer-ci.com/ocular.phar
          php ocular.phar code-coverage:upload --repository=g/console-helpers/db-migration --format=php-clover coverage.clover

      - name: Upload Coverage to Scrutinizer CI (PHP >= 8.0)
        if: "${{ matrix.php >= '8.0' }}"
        run: |
           composer require scrutinizer/ocular
           vendor/bin/ocular code-coverage:upload --repository=g/console-helpers/db-migration --format=php-clover coverage.clover
